body {
    background-color: #181818;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: .24rem;
    overflow-y: overlay;
    overflow-x: hidden!important;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
	display: block;
	box-sizing: border-box;
}
a, a:link, a:visited {
    color: #3778e5;
    text-decoration: none;
    transition: all .3s ease;
    cursor: pointer;
}
a, div, li {
    -webkit-tap-highlight-color: transparent;
}
用户代理样式表
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

::-webkit-scrollbar {
	width: 5px;
	height: 6px;
	border-radius: 8px;
	position: relative;
}
::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
	background-color: rgb(0,0,0);
}
::-webkit-scrollbar-thumb {
	width: 1px;
	background: rgb(255,255,255, .2);
	border-radius: 5px;
	/* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
}

.main {
    width: 100%;
    height: 100vh;
}
.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000 url(../img/background.png) repeat center center/0.23rem 0.23rem;
}
.layout-title {
    height: 100vh;
    overflow: hidden;
}
.page {
    z-index: 2;
    max-width: 2500px;
    padding: 20px;
}
.half-window {
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    overflow:hidden;
    left: 0;
    top: 0;
    animation: linear move-right;
    animation-duration: auto;
    animation-timeline: scroll();
}
.half-window .window {
    width: 30%;
}
.half-window .title-img {
    width: 70%;
    position: relative;
    background-image: url(../img/HuTao.webp);
    background: linear-gradient(10deg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    filter: brightness(.3);
    transform:skew(-10deg, 0deg);
}
@media only screen and (max-width: 900px) {
    .index-LOGO {
        width: 100%!important;
    }
}
.index-LOGO {
    width: 55%;
}
.index-title {
    position: absolute;
    animation: linear move-left;
    animation-duration: auto;
    animation-timeline: scroll();
}
.site-title {
    color: #fff;
    font-size: .3rem;
    font-weight: 100;
}

footer {
    position: relative;
    color: #fff;
    padding: 1em;
    font-size: 14px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
}
.footer a {
    color: #fff;
    text-decoration: none;
}
.footer a:hover {
    color: #fff;
    text-decoration: underline;
}
.footer-LOGO {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 94px;
    min-width: 400px;
    box-sizing: border-box;
}
.footer-LOGO img {
    height: 80px;
}

@media only screen and (max-width: 900px) {
	footer {
		display: block;
		text-align: center;
	}
	.footer-LOGO img, .header {
		height: 60px;
	}
	.footer-copyright p {
		text-align: center;
	}
	.footer .iconfont {
		font-size: 28px;
		margin: 20px 15px 20px 15px;
	}
}

/* 视差滚动 */
@keyframes move-background-down {
    from {
      background-position: 50% 80%;
    }
    to {
      background-position: 50% 0%;
    }
  }
@keyframes move-background-up {
    from {
        background-position: 50% 300%;
    }
    to {
        background-position: 50% 50%;
    }
}
@keyframes move-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes move-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}